/* スマートフォンやタブレットなど小さなデバイス向けのスタイル */
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
  header, footer {
    padding: 20px;
  }
  .article-content {
    font-size: 18px; /* 小さなデバイスでの記事の文字サイズ */
  }
  /* その他のスマホ向けスタイリング */
}

/* デスクトップなど大きなデバイス向けのスタイル */
@media only screen and (min-width: 601px) {
  body {
    font-size: 16px;
  }
  header, footer {
    padding: 50px;
  }
  .article-content {
    font-size: 16px; /* 大きなデバイスでの記事の文字サイズ */
  }
  /* その他のデスクトップ向けスタイリング */
}


/* コンテナのスタイリング */
.container {
  display: flex;
}

/* ブログ記事の表示スペースのスタイリング */
.article-content {
  flex: 2; /* 左側のスペースを2の割合で占める */
  padding: 20px; /* 記事の周りにスペースを追加 */
}

/* 広告スペースのスタイリング */
.ad-space {
  flex: 1; /* 右側のスペースを1の割合で占める */
  padding: 20px; /* 広告の周りにスペースを追加 */
  border-left: 1px solid #ccc; /* 左側に境界線を追加 */
}

/* メディアクエリを使用して、特定のビューポートサイズでのみこのスタイルを適用 */
@media only screen and (min-width: 769px) {
  .container {
    display: flex;
  }

  .article-content {
    flex: 2; /* 左側のスペースを2の割合で占める */
    padding: 20px; /* 記事の周りにスペースを追加 */
  }

  .ad-space {
    flex: 1; /* 右側のスペースを1の割合で占める */
    padding: 20px; /* 広告の周りにスペースを追加 */
    border-left: 1px solid #ccc; /* 左側に境界線を追加 */
  }
}

/* スマートフォンなど小さい画面サイズのためのスタイル */
@media only screen and (max-width: 600px) {
  .article-content, .ad-space {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .ad-space {
    display: none; /* 広告スペースを非表示にする */
  }
}

/* 記事内のイラスト画像のサイズ調整 */
img {
  width: 100%; /* 画像をセクションの幅に合わせる */
  height: auto; /* 縦横比を保持 */
  max-width: 600px; /* 最大幅を設定 */
  display: block; /* ブロックレベル要素として表示 */
  margin: 20px auto; /* 上下のマージンを追加し中央揃え */
}

/* h2タグの左にスカイブルー色の縦線を配置 */
h2 {
  position: relative;
  padding-left: 20px; /* 線とテキストの間隔 */
}

h2::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px; /* 線の幅 */
  background-color: skyblue; /* 線の色 */
}

/* セクション間の間隔を調整する */
section {
  margin-top: 40px; /* 上の間隔 */
  margin-bottom: 40px; /* 下の間隔 */
}
