body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    /* overflow: hidden; */
}

header {
    width: 100%;
    height: 80px;
    background-color: #FFDDDD; /* 仮の色です */
    overflow: hidden; /* 画像がheaderの高さを超えた場合にはみ出しを防ぐため */

     /* ヘッダー画像の配置位置調整 */
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;  /* 横方向の中央寄せ */
    align-items: flex-end;    /* 縦方向の下寄せ */
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

footer p, footer a {
  margin: 3px 0;
  font-size: 0.8rem;
  font-family: 'Arial', sans-serif;
  letter-spacing: 1px;
}

footer a {
    font-size: 10px;          /* フォントサイズを小さく調整。適切なサイズに変更可能 */
    color: #ffa500; /* オレンジ色のリンク */
    text-decoration: none; /* 下線を消す */
}

footer a:hover {
  text-decoration: underline; /* ホバー時に下線を表示 */
}

header img {
    width: auto;  /* 幅は自動 */
    height: 100%;  /* 高さを100%に */
    max-width: 100%;  /* 最大幅を100%に */
}

main {
    width: 100%;
    min-height: calc(100vh - 160px); /* 80px (ヘッダー) + 80px (フッター) を引いた高さに設定 */
    background-size: contain; /* or `cover`, 画像のアスペクト比を維持 */
    background-position: center; /* 画像背景を中央に配置 */
    background-repeat: no-repeat; /* 背景画像の繰り返しを防ぐ */
}

#image-display {
    width: 355px;
    height: 355px;
    margin: 20px auto; /* 画像表示枠を中央に配置するためのマージン設定 */
    margin-bottom: 20px; /* 画像とボタンの間のスペースを確保 */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    position: relative;
}

#image-display img {
    width: 355px;
    height: 355px;
    z-index: -1;
    object-fit: cover; /* このプロパティは、画像のアスペクト比が異なる場合に、画像がコンテナにフィットするようにします */
}

#change-image-button {
    display: block;
    width: 175px;
    height: 60px;
    margin: 20px auto; /* ボタンを中央に配置するためのマージン設定 */
    background-color: #FFDDDD;
    border: none;
    border-radius: 5px; /* ボタンの角を少し丸くする */
    cursor: pointer; /* ホバー時にカーソルをポインターにする */
}

button {
    width: 80px;
    height: 60px;
    margin-right: 10px; /* ボタン同士の間隔を確保 */
}

/* カウント表示のスタイル */
#count-display {
    width: 80px;
    height: 60px;
    line-height: 60px; /* テキストを中央に配置 */
    text-align: center; /* テキストを中央に配置 */
    font-size: 24px;
    background-color: #FFFFFF; /* 任意の背景色 */
    border: 1px solid #000000; /* 枠線 */
    z-index: 1; /* 他の要素より前面に */
}

/* ボタンの位置を調整 */
#auto-button, #manual-button {
    z-index: 2; /* カウント表示より前面に */
}
    
.button-container {
    display: flex;
    justify-content: center; /* 水平方向の中央揃え */
    gap: 20px; /* ボタン間の間隔 */
    width: 100%; /* コンテナの幅を最大にする */
    align-items: center; /* 垂直方向の中央揃え */
}

.terms {
  font-size: 8px; /* 8ピクセルに設定 */
  padding: 20px; /* 上下左右すべてに20pxの余白を追加 */
}

#retry-button {
    width: 150px;
    height: 20px;
    line-height: 20px; /* ここを追加 */
    font-size: 13px;
    margin: 20px auto; 
    display: block;    
    cursor: pointer;   
    background-color: #efefef; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    text-align: center; 
    padding: 0; /* paddingを0に変更して、ボタンの内部のスペースを削除 */
    transition: background-color 0.3s; 
}

#retry-button:hover {
    background-color: #ddd;
}

/* おめでとうモーダル全体のスタイル */
#congratulations-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%; /* 画面の幅に応じて調整可能 */
    margin: 0 auto 20px auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* 影を追加する */
    background-color: #fff;
}

/* おめでとうモーダル内の各テキスト要素の共通スタイル */
#congratulations-modal h2,
#kuji-result,
#switch-count-result,
#percentage-result {
    margin: 10px 0;
    text-align: center;
}

/* ヘッダー部分のスタイル調整 */
#congratulations-modal h2 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #333;
}

/* その他の結果表示部分のスタイル調整 */
#kuji-result,
#switch-count-result,
#percentage-result {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #555;
}

#payment-button {
    width: 320px;
    height: 160px;
    display: block;
    margin: 0 auto;
    transition: all 0.5s ease; /* 画像の切り替え時のアニメーション */
}

#payment-button:hover {
    content: url("img/saisenbox0001b.jpg");
}